<a href="https://colab.research.google.com/github/sanjibsinha/tensorflow-for-beginners/blob/numpy-matplotlib-pandas/pandas_dempo_five.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import pandas as pd

df = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/tips.csv")

df.shape

(244, 7)

In [5]:
df.columns

Index(['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size'], dtype='object')

In [6]:
df.reset_index(inplace=True)
df

     index  total_bill   tip     sex smoker   day    time  size
0        0       16.99  1.01  Female     No   Sun  Dinner     2
1        1       10.34  1.66    Male     No   Sun  Dinner     3
2        2       21.01  3.50    Male     No   Sun  Dinner     3
3        3       23.68  3.31    Male     No   Sun  Dinner     2
4        4       24.59  3.61  Female     No   Sun  Dinner     4
..     ...         ...   ...     ...    ...   ...     ...   ...
239    239       29.03  5.92    Male     No   Sat  Dinner     3
240    240       27.18  2.00  Female    Yes   Sat  Dinner     2
241    241       22.67  2.00    Male    Yes   Sat  Dinner     2
242    242       17.82  1.75    Male     No   Sat  Dinner     2
243    243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 8 columns]

In [7]:
df = pd.read_csv("https://raw.githubusercontent.com/pandas-dev/pandas/main/doc/data/tips.csv", index_col='time')

pd.set_option('display.max_columns', 5)
pd.set_option('display.max_rows', 5)

df

        total_bill   tip  ...   day size
time                      ...
Dinner       16.99  1.01  ...   Sun    2
Dinner       10.34  1.66  ...   Sun    3
...            ...   ...  ...   ...  ...
Dinner       17.82  1.75  ...   Sat    2
Dinner       18.78  3.00  ...  Thur    2

[244 rows x 6 columns]

In [8]:
df.head()

        total_bill   tip  ...  day size
time                      ...
Dinner       16.99  1.01  ...  Sun    2
Dinner       10.34  1.66  ...  Sun    3
Dinner       21.01  3.50  ...  Sun    3
Dinner       23.68  3.31  ...  Sun    2
Dinner       24.59  3.61  ...  Sun    4

[5 rows x 6 columns]