<a href="https://colab.research.google.com/github/sanjibsinha/tensorflow-for-beginners/blob/numpy-matplotlib-pandas/pandas_demo_six.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

people = {
    "Firstname" : ["John", "Json", "James"],
    "Lastname" : ["Smith", "Web", "Bond"],
    "Location" : ["New York", "Munich", "London"],
}

people["Firstname"]

['John', 'Json', 'James']

In [2]:
df = pd.DataFrame(people)

In [3]:
df

  Firstname Lastname  Location
0      John    Smith  New York
1      Json      Web    Munich
2     James     Bond    London

In [4]:
df.columns

Index(['Firstname', 'Lastname', 'Location'], dtype='object')

In [5]:
df.columns = ['First', 'Last', 'Place']

In [6]:
df

   First   Last     Place
0   John  Smith  New York
1   Json    Web    Munich
2  James   Bond    London

In [8]:
df.columns = [x for x in df.columns]
df

   First   Last     Place
0   John  Smith  New York
1   Json    Web    Munich
2  James   Bond    London

In [9]:
df.columns = [x.lower() for x in df.columns]
df

   first   last     place
0   John  Smith  New York
1   Json    Web    Munich
2  James   Bond    London

In [10]:
df.columns = [x.upper() for x in df.columns]
df

   FIRST   LAST     PLACE
0   John  Smith  New York
1   Json    Web    Munich
2  James   Bond    London