<a href="https://colab.research.google.com/github/sanjibsinha/tensorflow-for-beginners/blob/numpy-matplotlib-pandas/pandas_demo_seven.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

people = {
    "Firstname" : ["John", "Json", "James"],
    "Lastname" : ["Smith", "Web", "Bond"],
    "Location" : ["New York", "Munich", "London"],
}

people["Firstname"]

['John', 'Json', 'James']

In [2]:
df = pd.DataFrame(people)
df

  Firstname Lastname  Location
0      John    Smith  New York
1      Json      Web    Munich
2     James     Bond    London

In [3]:
df['Firstname'] + ' ' + df['Lastname']

0    John Smith
1      Json Web
2    James Bond
dtype: object

In [4]:
df['Name'] = df['Firstname'] + ' ' + df['Lastname']
df

  Firstname Lastname  Location        Name
0      John    Smith  New York  John Smith
1      Json      Web    Munich    Json Web
2     James     Bond    London  James Bond

In [5]:
df.drop(columns=['Firstname', 'Lastname'], inplace=True)

df

   Location        Name
0  New York  John Smith
1    Munich    Json Web
2    London  James Bond

In [8]:
df['Name'].str.split(' ', expand=True)

df

   Location        Name
0  New York  John Smith
1    Munich    Json Web
2    London  James Bond

In [9]:
df[['Firstname', 'Lastname']] = df['Name'].str.split(' ', expand=True)
df

   Location        Name Firstname Lastname
0  New York  John Smith      John    Smith
1    Munich    Json Web      Json      Web
2    London  James Bond     James     Bond